.ocpbw_sortable .ocpbw_select_back {
    padding: 5px 20px 5px 162px!important
}
.ocpbw_sortable ul#sortable li {
    padding: 3px;
    width: 100%;
    display: inline-block!important;
    vertical-align: middle;
    position: relative;
    text-transform: capitalize;
}
.ocpbw_sortable .product-attributes-drop{
    padding: 5px 5px 5px 15px!important;
    float: left;
    vertical-align: middle;
}
.ocpbw_main_form h2 {
    background: #2271b1;
    padding: 10px;
    margin: 0px;
    color: #fff;
}
.ocpbw_sortable ul#sortable li:hover {
    cursor: move;
}
.Discount_price label {
    display: inline-block;
    float: left;
    width: 42%;
    text-align: center;
}
.ocpbw_sortable .ocpbw-draggble-icon {
    background-image: url(../images/icon.png);
    background-position: -132px -49px;
    position: absolute;
    width: 15px;
    height: 15px;
    display: inline-block;
    left: 5px;
    top: 10px;
}
.ocpbw_sortable .ocpbw_qty_box {
    float: right;
    display: inline-block;
    text-align: right;
    width: 40%;
}
img.ocpbw_rating_div {
    width: 100px;
    vertical-align: middle;
}
.ocpbw_sortable .ocpbw_select_back ul li input[type="number"] {
    width: 40%;
    display: inline-block;
}
.ocpbw_sortable .ocpbw_select_back ul li select {
    width: 60%;
}
.ocpbw_sortable {
    margin: 0px 15px;
}

img.wczp_rating_div {
    width: 11%;
    vertical-align: middle;
}
.wczp_container {
    display: inline-block;
    width: 100%;
    background-color: #e3e3e3;
    border: 1px solid #ccc; 
    margin-top :25px;
}
.wczp_container h2 {
	margin: 0px;
    background: #0b4a78;
    color: #fff;
    padding: 12px;
}
table.wczp_table {
    width: 100%;
    display: inline-block;
    padding: 15px;
}
table.wczp_table tr td:first-child {
    font-weight: bold;
    font-size: 14px;
    padding-right: 22px;
    min-width: 250px;
}
table.wczp_table tr.wczp_color_tr td:first-child {
    vertical-align: middle;
}
tr.wczp_color_tr .wp-picker-container {
    vertical-align: text-top;
}
.wczp_scode_info {
    margin: 0;
    font-size: 14px;
}
.oc_wczp input[type="submit"] {
    background-color: #2196F3;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 700;
    width: 14%;
    padding: 11px;
    margin: 21px;
}
table.wczp_table tr {
    line-height: 50px;
    vertical-align: top;
}
.tablenav .actions select {
    float: left;
    display: inline-block;
    margin-right: 6px;
    width: 60%;
    max-width: 12.5rem;
}
table.wczp_list_table {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
table.wczp_list_table thead {
    display: inline-block;
    width: 100%;
    border: none;
}
table.wczp_list_table tbody {
    width: 100%;
    display: inline-block;
    border: none;
}
table.wczp_list_table tr {
    width: 100%;
    display: inline-block;
    border: none;
    line-height: 25px;
}
table.wczp_list_table tr th , table.wczp_list_table tr td{
    width: 15%;
    display: inline-block;
    text-align: left;
    font-size: 15px;
    border: none;
}
form.wczp_import {
    padding: 15px;
}
form.wczp_import input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 700;
    display: block;
    margin-top: 30px;
}
form.wczp_import input[type="submit"] {
    display: block;
    background-color: #337ab7;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 30px;
}
form.wczp_import input[type="file"] {
    border: 1px dashed;
    padding: 15px;
}
.wczp_table input[type="submit"] {
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 700;
    width:74%;
}
.wczp_importbox {
    width: 40%;
}
.wczp_importbox h3 {
    margin-top: 0;
}
a.wczp_demo_file {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.wczp_list_postcode {
    padding: 15px;
}
.wczp_notice_error {
    padding: 15px;
}
.wczp_notice_error p {
    font-size: 16px;
    color: #ff0000;
    margin: 0;
}
.wczp_notice_success {
    padding: 15px;
}
.wczp_notice_success p {
    font-size: 16px;
    color: #008000;
    margin: 0;
}
.wczp_nosrvtxt td input[type="text"] {
    width: 400px;
}

.ocscw_rateus_notice, .ocscw_support_notice {
    display: inline-block;
    width: 95.3%;
    color: #fff;
    background-color: #fb5f51;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}
.ocscw_rateus_notice h3, .ocscw_support_notice h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
}
.ocscw_rateus_notice label, .ocscw_support_notice label {
    font-size: 16px;
}
.ocscw_support_notice {
    background-color: #2f3337;
}
.ocscw_rateus_notice a, .ocscw_support_notice a {
    color: #fff;
}
.ocscw_rtusnoti_left {
    display: inline-block;
    float: left;
}
.ocscw_rtusnoti_right {
    display: inline-block;
    float: right;
    text-align: right;
}
.ocscw_rtusnoti_right img {
    width: 50px;
    height: auto;
}
a.addcolumn img, a.addrow img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}
a.deletecolumn img, a.deleterow img {
    width: 20px;
    height: auto;
    cursor: pointer;
}
select.ocpbw_discount_type {
    margin-left: 10px !important;
}

@media only screen and (max-width: 767px) {
    .ocscw_rtusnoti_left {
        width: 80%;
    }
}

/*CSS for support rating donation multistep start*/
.ocpbw_rating_div {
    width: 100px;
    vertical-align: middle;
}
.ocpbw_ratesup_notice_main {
    display: inline-block;
    width: 100%;
}
.ocpbw_rateus_notice, .ocpbw_support_notice {
    display: inline-block;
    width: 45%;
    float: left;
    color: #fff;
    background-color: #fb5f51;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    height: 70px;
    margin-bottom: 12px;
}

.ocpbw_rateus_notice h3, .ocpbw_support_notice h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
}
.ocpbw_rateus_notice label, .ocpbw_support_notice label {
    font-size: 16px;
}
.ocpbw_support_notice {
    background-color: #2f3337;
    margin-left: 2%;
}
.ocpbw_rateus_notice a, .ocpbw_support_notice a {
    color: #fff;
}
.ocpbw_rtusnoti_left {
    display: inline-block;
    float: left;
    width: 70%;
}
.ocpbw_rtusnoti_right {
    display: inline-block;
    float: right;
    text-align: right;
}
.ocpbw_rtusnoti_right img {
    width: 50px;
    height: auto;
}
.ocpbw_donate_main {
    background: #fff;
    padding: 15px;
    display: flex;
    width: 94.6%;
    border: 1px solid #e3bbac;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-top: 15px;
}
.ocpbw_donate_main img {
    height: 32px;
}
.ocpbw_donate_main > * {
    margin: 0 15px 0 0;
    vertical-align: middle;
}
.ocpbw_onate_main h3 {
    font-size: 15px;
}
.ocpbw_donate_form {
    display: flex;
}
.ocpbw_donate_main .button {
    text-align: center;
}
img.ocpbw_rating_div { 
    width: 100px;
    vertical-align: middle;
}
span.ocpbw_combine_notice {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
}
.ocpbw_ratess_open {
    width: 100%;
    display: inline-block;
    float: left;
}

/*CSS for support rating donation multistep end*/


.ocwef_cover_div {
    padding: 20px;
}
table.ocwef_table,.ocwef_table tbody {
    display: inline-block;
    width: 100%;
}
.ocwef_table tbody tr {
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 55px;
}
.ocwef_table tbody tr th {
    display: inline-block;
    width: 15%;
}
.ocwef_table tbody tr td {
    display: inline-block;
    width: 80%;
}

.ocpbw_main_form {
    background: #fff;
    width: 98%;
    display: inline-block;
    margin: 15px 0;
    border: 1px solid #ccc;
}